<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Echo</title>
</head>
<body>
  <div id="root"></div>

  <script src="{{ static_url('./js/mithril.min.js') }}"></script>
  <script src="{{ static_url('./js/main.js') }}"></script>
</body>
</html>
